.boton_cocina{
    border-radius: 5px;
    width: 70%;
  }
.boton_mesero{
    border-radius: 5px;
    width: 70%;
}
.boton_maestra{
    border-radius: 5px;
    width: 70%;
}
h3.cocina{
    color: gold;
    text-align: center;
    font-size: 35px;
}
h3.mesero{
    color: red;
    text-align: center;
    font-size: 35px;
}
h3.maestra{
    color: blue;
    text-align: center;
    font-size: 35px;
}
.contenedor{
display: flex;
align-items: center;
justify-content: center;
}
.cajaa {
    margin-top: 15%;
    margin-bottom: 15%;
}
.Item{
    box-shadow: none;
    background-color: red;
}

