.pantalla-observaciones{
    width: 70%;
    margin: 0 auto;
}
.content-input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-observaciones{
   width: 80%;
   resize: none;
   height: 50vh;
}
.img-aceptar{
    padding-top: 5px;
    border-radius: 25%;
    width: 10%;
    /* padding-left: 45%;
    padding-right: 45%; */
    margin-left: 50%;
  transform: translateX(-50%);
}
.content-button{
    background-color: blue;
    /* display: flex;
    justify-content: center; */
}