.titulo-orden {
    text-align: center;
    color: #ee4036;
    font-size:75px;
    font-weight: bolder;
}

.img-redonda {
    width: 150px;
    height: 150px;
    border-radius: 25%;
}

.platillos {
    color: white;
    font-weight: bolder;
    margin-left: 2%;
}

.margenes {
    margin: 10px;
    display:flex;
    align-items:center;
    justify-content: flex-start;
}

.caja {
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    width: 85%;
    display: block;
    background-color: #ee4036;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
}
p{
    text-align:left;
    color: white;
    font-weight: bolder;
    margin-left: 2%;
    font-size:50px;
}
.btn-redonda {
    width: 100%;
    border-radius: 25%;
}
@media screen and (max-width: 660px) {
    p{
        font-size:25px;
    }
    .img-redonda{
        width:75px;
        height:75px;
    }
    .btn-redonda {
        width: 50%;
    }
    .titulo-orden{
        font-size:50px;
    }
}
